
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0,0,0,0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
#chartArea {
  width: 102%;
  font-family: inherit;
  margin-left: -0.8em;
}
#chartArea .well {
  padding: 1%;
  font-size: 0.7em;
  cursor: default;
}
#chartArea .well .graphTitle h4,
#chartArea .well .graphTitle h5,
#chartArea .well .graphTitle h6 {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#chartArea .maximizeChart .bar_c {
  font-size: 1em;
}
#chartArea .bar_c {
  display: inline-block;
  font-size: 0.7em;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}
#chartArea .bar_c svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#chartArea .bar_c .bar {
  fill: #4682b4;
}
#chartArea .bar_c .bar:hover {
  fill-opacity: 0.8;
}
#chartArea .bar_c .y.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#chartArea .bar_c .x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#chartArea .bar_c g.brush rect.extent {
  fill-opacity: 0.2;
}
#chartArea .bar_c g.brush rect.background {
  fill: rgba(81,180,191,0.28);
}
#chartArea .pie_c .axis path,
#chartArea .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#chartArea .pie_c {
  display: inline-block;
  font-size: 0.7em;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}
#chartArea .pie_c svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#chartArea .pie_c .arc path {
  stroke: #fff;
}
#chartArea .pie_c .arc:hover {
  fill-opacity: 0.8;
}
#chartArea .area_c .axis path,
#chartArea .area_c .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#chartArea .area_c .area {
  fill: #4682b4;
}
#chartArea .line_c .axis path,
#chartArea .line_c .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#chartArea .line_c .x.axis path {
  display: none;
}
#chartArea .line_c .line {
  fill: none;
  stroke: #4682b4;
  stroke-width: 1.5px;
}
.legend_pie rect {
  fill: #fff;
  opacity: 0.4;
}
.template.active {
  cursor: progress;
}
.template.active .spinner {
  opacity: 1;
  width: auto;
}
.panel .panel-heading {
  padding: 0.2em 15px 0.1em 15px;
  border-bottom: 0px solid transparent;
}
.chartPanelOptions,
.editReport {
  float: right;
  margin-right: 1em;
}
.chartPanelOptions .save_chartPanel,
.editReport .save_chartPanel {
  color: #000;
}
.chartPanelOptions .info-button,
.editReport .info-button,
.chartPanelOptions .help-button width 1em   height 1em   text-align center,
.editReport .help-button width 1em   height 1em   text-align center,
padding 0 0   font-size 12px   line-height 1em   border-radius 0.5em   .chartPanelOptions:hover,
padding 0 0   font-size 12px   line-height 1em   border-radius 0.5em   .editReport:hover,
.chartPanelOptions fill-opacity 0.8     font-size 14px     cursor pointer,
.editReport fill-opacity 0.8     font-size 14px     cursor pointer,
.chartPanelOptions .help-button,
.editReport .help-button {
  border-radius: 1em;
  padding: 0.3em 0em;
  font-size: 16px;
  color: #2faeb9;
}
.chartPanelOptions .info-button:hover,
.editReport .info-button:hover,
.chartPanelOptions .help-button width 1em   height 1em   text-align center:hover,
.editReport .help-button width 1em   height 1em   text-align center:hover,
padding 0 0   font-size 12px   line-height 1em   border-radius 0.5em   .chartPanelOptions:hover:hover,
padding 0 0   font-size 12px   line-height 1em   border-radius 0.5em   .editReport:hover:hover,
.chartPanelOptions fill-opacity 0.8     font-size 14px     cursor pointer:hover,
.editReport fill-opacity 0.8     font-size 14px     cursor pointer:hover,
.chartPanelOptions .help-button:hover,
.editReport .help-button:hover {
  fill-opacity: 0.8;
  font-size: 16px;
}
.chartPanelOptions .ChartNew,
.editReport .ChartNew {
  padding-bottom: 3em;
}
.chartPanelOptions #max_chart,
.editReport #max_chart {
  width: 100%;
}
.chartPanelOptions .filtered a,
.editReport .filtered a {
  color: #808080;
  font-size: 0.8em;
}
